.root{
    -fx-background-image: url("../images/dashboard/dashboard-front.jpg");
    -fx-background-size: cover;
}


.login_button
{
    -fx-alignment: top-center;
}

.login_button
{
    -fx-alignment: top-center;
}


.back_button
{
    -fx-background-image: url('../images/interface/Button.png') no-repeat top left;
    -fx-background-size: 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;;
}


#button
{
    -fx-background-image: url("../images/interface/Button.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#button:hover
{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
}

#dialog
{
    -fx-background-image: url("../images/interface/dialog.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    background-repeat:   no-repeat;
    background-position: center center;

}

#nicknames
{
    -fx-background-image: url("../images/interface/dialog3.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    background-repeat:   no-repeat;
    background-position: center center;

}

#nick{
    -fx-background-image: url("../images/interface/nickBoard.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    background-repeat:   no-repeat;
    background-position: center center;
}
#nick:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
}

.label
{
    -fx-text-fill: white;
}

#font
{
    font-family: 'Cardinal';
    src: url('../font/Cardinal.ttf');
    -fx-font-size: 12pt ;
}

