.root{
    -fx-background-image: url("../images/dashboard/dashboard-front.jpg");
    -fx-background-size: cover;
}


.login_button
{
    -fx-alignment: top-center;
}

.login_button
{
    -fx-alignment: top-center;
}


