.root{
    -fx-background-image: url("../images/dashboard/market.png");
    -fx-background-size: cover;
    -fx-background-color: transparent
}

.grid{
    -fx-background-color: black;
    -fx-background-size: cover;
    -fx-background-color: transparent
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.button:focused {
    -fx-border-color: transparent, transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:pressed {
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}