# Intellij
.idea/
*.iml
*.iws
.attach_pid*

# Mac
.DS_Store

# Maven
log/
out/
/out/
target/
/target/
/src/main/java/META-INF/MANIFEST.MF
/shade/

/src/main/resources/META-INF/

reconnectInfo.json

*.ser
./*.ser
